mutation
--snv_file /data/compbio/datasets/MutationMatrices/AML/2012-10-08/mutAML1116_snvfusion_Hotnet.snv
--cna_file /data/compbio/datasets/MutationMatrices/AML/2012-09-21/mutAML0921_focal.cna
--sample_file /data/compbio/datasets/MutationMatrices/AML/2012-07-18/mutated_samples.txt
--gene_file /data/compbio/datasets/HotNet_RequiredFiles/testGeneFiles/2012-07-19/genes_with_length_and_position.txt
--cna_filter_threshold .9
--min_freq 1
