mutations
--runname "AML Delta Selection (HotNet Classic / Mutation Permutation)"
--infmat_file /nbu/compbio/heat_kernels/HPRD/hprd_expo_10_v9.mat
--infmat_name Li
--infmat_index_file /nbu/compbio/heat_kernels/HPRD/index_genes_hprd_v9.txt
--heat_file results/aml/aml-heat.json
--test_statistic num_ccs
--sizes 3
--classic
--gene_length_file /data/compbio/datasets/HotNet_RequiredFiles/geneLengthFiles/ID_length_20120712.txt
--gene_order_file /data/compbio/datasets/HotNet_RequiredFiles/orderedFiles/order_genes_hg19_gistic.txt
--bmr .000000297
