--runname "PanCan HINT Oncodrive"
--infmat_file /data/compbio/datasets/HeatKernels/pagerank/IntHint/binary+complex+hi2012/inthint_ppr_0.60.mat
--infmat_name PPR
--infmat_index_file /data/compbio/datasets/HeatKernels/pagerank/IntHint/binary+complex+hi2012/inthint_index_genes
--heat_file /research/compbio/users/jeldridg/PanCancer/HeatFiles/pancan-oncodrive-filtered.json
--delta 0.0745425235
--min_cc_size 4
none
