--runname "PanCan HINT MuSiC"
--infmat_file /data/compbio/datasets/HeatKernels/pagerank/IntHint/binary+complex+hi2012/inthint_ppr_0.60.mat
--infmat_name PPR
--infmat_index_file /data/compbio/datasets/HeatKernels/pagerank/IntHint/binary+complex+hi2012/inthint_index_genes
--heat_file /research/compbio/users/jeldridg/PanCancer/Experiments/2013-07-21/music_heat.json
--delta 0.0519802085
--min_cc_size 4
--num_permutations 0
