--runname "PanCan iRefIndex MuSiC"
--infmat_file /data/compbio/datasets/HeatKernels/pagerank/IREFINDEX/9.0/iref_ppr_0.55.mat
--infmat_name PPR
--infmat_index_file /data/compbio/datasets/HeatKernels/pagerank/IREFINDEX/9.0/iref_index_genes
--heat_file /research/compbio/users/jeldridg/PanCancer/Experiments/2013-07-21/music_heat.json 
--delta 0.0402860285
--min_cc_size 4
--num_permutations 0
