--runname "PanCan iRefIndex MutSig"
--infmat_file /data/compbio/datasets/HeatKernels/pagerank/IREFINDEX/9.0/iref_ppr_0.55.mat
--infmat_name PPR
--infmat_index_file /data/compbio/datasets/HeatKernels/pagerank/IREFINDEX/9.0/iref_index_genes
--heat_file /research/compbio/users/jeldridg/PanCancer/HeatFiles/pancan-mutsig-filtered.json
--delta 0.0297408615
--min_cc_size 4
none
