--runname "PanCan iRefIndex Mutation Frequency"
--infmat_file /data/compbio/datasets/HeatKernels/pagerank/IREFINDEX/9.0/iref_ppr_0.55.mat
--infmat_name PPR
--infmat_index_file /data/compbio/datasets/HeatKernels/pagerank/IREFINDEX/9.0/iref_index_genes
--heat_file /research/compbio/users/jeldridg/PanCancer/HeatFiles/pancan-freq-filtered.json 
--delta 0.0002601395
--min_cc_size 4
--num_permutations 0
