--runname "PanCan MultiNet MutSig"
--infmat_file /data/compbio/datasets/HeatKernels/pagerank/MultiNet/1.0/multinet_ppr_0.50.mat
--infmat_name PPR
--infmat_index_file /data/compbio/datasets/HeatKernels/pagerank/MultiNet/1.0/multinet_index_genes
--heat_file /research/compbio/users/jeldridg/PanCancer/Experiments/2013-07-21/mutsig_heat.json 
--delta 0.02641238
--min_cc_size 4
--num_permutations 0
