--runname "PanCan MultiNet Oncodrive"
--infmat_file /data/compbio/datasets/HeatKernels/pagerank/MultiNet/1.0/multinet_ppr_0.50.mat
--infmat_name PPR
--infmat_index_file /data/compbio/datasets/HeatKernels/pagerank/MultiNet/1.0/multinet_index_genes
--heat_file /research/compbio/users/jeldridg/PanCancer/HeatFiles/pancan-oncodrive-filtered.json 
--delta 0.0406515005
--min_cc_size 4
--num_permutations 0
