network
--runname ExampleDeltaSelection
--infmat_index_file example/influence_matrices/example_index_genes
--heat_file example/output/mutation/heat.json
--num_permutations 10
--permuted_networks_path example/influence_matrices/permuted/##NUM##/example_ppr_0.6.h5
--output_file example/output/mutation/delta.json
