--runname HotNetExample
--infmat_file example/influence_matrices/example_ppr_0.6.h5
--infmat_index_file example/influence_matrices/example_index_genes
--infmat_name PPR
--heat_file example/output/mutation/heat.json
--delta 0.0100749653111964817
--output_directory example/output/mutation/results
none
