--runname SimpleExample2
--infmat_file example/influence_matrices2/example2_ppr_0.6.h5
--infmat_index_file example/example_gene_index.txt
--permuted_networks_path example/influence_matrices2/permuted/##NUM##/example2_ppr_0.6.h5
--display_score_file example/example.dscore
--heat_file example/example.heat
--edge_file example/example_edgelist.txt
--output_directory example/output/simple2
--delta_permutations 10
--significance_permutations 10
--network_name Example2