--runname SimpleExample
--infmat_file example/influence_matrices/example_ppr_0.6.mat 
--infmat_index_file example/example_gene_index.txt
--permuted_networks_path example/influence_matrices/permuted/##NUM##/##NUM##_ppr_0.6
--heat_file example/example.heat
--edge_file example/example_edgelist.txt
--network_name Example
--output_directory example/output/simple
--num_permutations 10