html, body, div, p, ul, li {
  padding: 0px;
  margin: 0px;
  font-weight: none;
}

.dashboard {
  background-color: #BDC3C7;  
  padding: 0px;
  margin: 10px;
  width: 1340px;
}

.dashboard p {
  color: #95A5A6;
  font-size: 24px;
  width: 100%;
  text-align: center;
  font-weight: bolder;
}

.dashboard div{
  float: left;

  width: 100%;
  padding: 0px;
  margin: 5px;
}

.toggleButton:hover {
  color: #2980b9;
}

.column {
  float: none;
}

.column p{
  color: #7F8C8D;
  text-align: left;
  font-size: 12px;
  padding: 0px;
}

.column h1{
  color: #ECF0F1;
  text-align: left;
  font-size: 18px;
  padding: 0px;
  margin: 0px;
}

.infobox p{
  color: #7F8C8D;
  text-align: right;
  font-size: 16px;
  padding: 5px;
  width: auto;
}

.infobox h2{
  color: #2C3E50;
  text-align: right;
  padding: 10px;
  margin: 0px;
  width: auto;
}

ul {  
  float:left;
  width:100%;
  margin: 5px;
  list-style-type:none;
}

li {
  float:left;
  margin: 5px;
  font-size: 18px;
}


.network .node {
  stroke: #fff;
}

.node text{
  stroke-width: 0px;
  font-size: 10;
}

.network div {
  float: none;
  margin: 0px;
  padding: 0px;
}
.network .link {
  stroke: #BDC3C7;
  stroke-width: 5px;
}

.loliplot h2, h3 {
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 0px;
  padding: 5px;
  background-color: #ECF0F1;  
  color: #7F8C8D;
  font-size: 18px;
}
.loliplot h3 {
  margin: 0px;
  padding-left: 15px;
  background-color: #ECF0F1;  
  color: #7F8C8D;
  font-size: 12px;
}

.loliplot h2:hover, .loliplot h3:hover {
  background-color: #2C3E50;  
  color: #BDC3C7;
}

.loliplot div {
  padding: 0px;
  margin: 0px;
}
svg{
  background-color: #ECF0F1;
  width: 100%;
}

.oncosample .box {
  stroke: #ECF0F1;
}

text {
 font-weight: bold;
 font-family: Helvetica; 
}